* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  font: 14px/1.5 "Lucida Grande", sans-serif;
}

a {
  color: #0073e6;
  text-decoration: none;
}

header {
  -moz-box-sizing: border-box;
  background: #d3d3d3;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

header ul.nav {
  color: #888;
  float: left;
  font-size: 24px;
  font-weight: normal;
}

header ul.nav li {
  display: inline-block;
  list-style: none;
  margin-right: 20px;
}

header ul.nav li.active {
  color: #000;
  font-weight: bold;
  text-shadow: 0 1px #fff;
}

header ul.nav li:last-child {
  border-right: none;
  margin: 0;
  padding: 0;
}

header .tools {
  float: right;
  margin-top: 5px;
}

header #search {
  -moz-appearance: searchfield;
  display: inline-block;
  font-size: 12px;
  padding: 2px;
}

header .segmented {
  display: inline-block;
  margin-right: 10px;
}

.segmented button {
  -moz-appearance: none;
  background: -moz-linear-gradient(rgb(247, 247, 247), rgb(209, 209, 209));
  border: 1px solid rgb(127, 127, 127);
  border-radius: 3px;
  box-shadow: 0 1px rgba(255, 255, 255, 0.5);
  color: rgb(72, 72, 72);
  padding: 4px 8px 2px;
  text-shadow: 0 1px #fff;
}

.segmented button:first-child {
  border-right: none;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin-right: 0;
}

.segmented button:last-child {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.groups {
  padding-top: 57px;
  position: relative;
}

.group {
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  position: relative;
  overflow: hidden;
}

.group .name {
  float: left;
  position: absolute;
  top: 10px;
  bottom: 0;
  text-shadow: 0 1px #fff;
  width: 120px;
}

.group h1.sticky {
  position: fixed;
  /* 57 = header height; 10 = padding in each heading cell */
  top: 67px;
}

.group h1.bottom {
  position: absolute;
  bottom: 10px;
}

.group h1 {
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  width: 120px;
}

ul.bookmarks {
  background: #fff;
  border-left: 1px solid #ccc;
  float: left;
  margin-left: 120px;
  padding: 10px 0;
  width: -moz-calc(100% - 121px);
}

ul.bookmarks li {
  list-style: none !important;
}

ul.bookmarks li a {
  display: block;
  overflow: hidden;
  padding: 2px 5px 2px 35px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.bookmarks li:hover {
  background: #eee;
}

ul.bookmarks li .title {
  vertical-align: middle;
}

ul.bookmarks li .url {
  color: #444;
  display: none;
  font-size: 10px;
  margin-left: 5px;
  vertical-align: middle;
}

ul.bookmarks li:hover .url {
  display: inline;
}

ul.bookmarks li.active {
  background: #0073e6;
}

ul.bookmarks li.active a {
  color: #fff;
}

ul.bookmarks li.active .url {
  color: #fff;
  display: inline;
}

.group:nth-child(odd) {
  background: #e6e6e6;
}

.group:nth-child(odd) ul.bookmarks {
  background: #f7f7f7;
}